body {
    background: rgb(15 19 22);
    color: white;
    padding: 2rem;
    font-family: Inter, sans-serif;
  }
  
  #pixel-screen {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    overflow: hidden;
    border-radius: 4px;
    padding: 2px 0 2px 2px;
  }
  
  #pixel-screen .pixel {
    width: 0.825rem;
    margin: 0 3px 3px 0;
    height: 0.825rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 3px;
    background: #333333;
  }

  #wrapper-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #outer-case {
    width: 600px;
    height: 700px;
  
    background: rgba(217, 217, 217, 0.3);
    clip-path: ellipse(300px 350px);
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .info {
    background: #fff;
    height: 50px;
    width: 320px;
    background: #666666;
  }
  #buttons {
    padding-top: 20px;
    height: 80px;
    width: 250px;
  }
  
  button {
    background-color: #333333;
    border: none;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    margin: 10px 20px;
    color: rgba(1, 1, 1, 0.5);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
    cursor: pointer;
  }
  button:active {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px,
  }
  .character-details {
    display: flex;
    justify-content: center;
  }

  #character-name {
    text-align: center;
  }
  
  .info-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 16px;
  }
  
  .metric {
    display: flex;
  }
  
  .metric .current-stat {
    font-size: 24px;
    font-weight: 600;
  }
  
  